# This file prepares the pytest and coverage env and is used by tox.ini
codecov==2.1.13
cov-core==1.15.0
coverage==7.6.9
flake8==7.1.1
mock==5.1.0
mypy==1.14.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-gitignore==1.3
pytest-mock==3.14.0
wheel==0.45.1
-e.
